body {
    padding: 0;
    text-align: center;
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 1000px;
    height: 500px;
}

.game-intro p {
    font-size: 5em;
}