body {
    position: absolute;
    padding: 0;
    text-align: center;
    border: 2px solid black;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
    width: 1000px;
    height: 500px;
}
.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    height: 500px;
}
h1 {
    position: absolute;
    margin-top: 350px;
    font-size: 5em;
}
.game-intro{
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-intro p {
    position: absolute;
    margin-top: 450px;
    font-size: 1em;
}
#startButton {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    text-align: center;
    background-color: rgb(224, 98, 30);
    border: 0;
    margin-top: 800px;
    padding: 10px 50px;  
}
.game-outro {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 155px;
}
.game-outro p {
    position: absolute;
    font-size: 5em;
}
#restartButton {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    position: absolute;
    background-color: rgb(224, 98, 30);
    border: 0;
    margin-top: 385px;
    margin-left: 250px;
    padding: 10px 50px;  
}
.game-board {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
}
#score-div {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    opacity: 0.8;
    font-size: 1.5em;
    margin: 0px 0px 0px 30px
}
#score-p {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 5em;
}